.searchBar{
    width: 100%;
    border: none;
    background-color: rgb(235, 232, 232);
    padding-block: var(--padding-medium);
    padding-inline: var(--padding-small);
    border-radius: var(--border-radius);
}

.searchBar:focus{
    outline: none;
}