.feedback {
    padding-top: var(--padding-small);
    padding: var(--padding-small);
    border-radius: var(--border-radius-small);
    background-color: #f0f0f0;
}

.question {
    font-weight: bold;
    padding-bottom: var(--padding-small);
}

.response {
    padding-bottom: var(--padding-small);
    padding-right: var(--padding-small);
    display: flex;
}